body{
    background-color: bisque; /*Cor de fundo da página*/
    text-align: center; /*Centralizando os elementos da página*/
}

div.box1{
    display:inline-block; /*Alinhamento entre os boxs*/
    background-color: rgb(207, 166, 246); /*Cor de fundo do primeiro box*/
    border: 2px solid black; /*Borda preta para delimitar o box 1*/
    padding: 30px; /*Ajuste de tamanho do box 1*/
}

div.box2{
    display:inline-block; /*Alinhamento entre os boxs*/
    background-color: rgb(148, 250, 216); /*Cor de fundo do segundo box*/
    border: 2px solid black; /*Borda preta para delimitar o box 2*/
    padding: 30px; /*Ajuste de tamanho do box 2*/
}